registry=https://registry.npmjs.org/
disturl=https://npm.taobao.org/dist
SASS_BINARY_SITE=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
electron_mirror=https://npm.taobao.org/mirrors/electron/
