registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node/
sass_binary_site=http://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
fse_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver/
selenium_cdnurl=http://npm.taobao.org/mirrorss/selenium/
electron_mirror=https://npmmirror.com/mirrors/electron/
